= render "/help/help_link"
%textarea{ :cols => "0", :rows => "0", :id => "help_text", :class => "help_text", :style => "display:none", :title => "Edit Instrument" }
  %p
    This is where you update the data for this Instrument record.
    %br
    Much of the data should be pre-filled for you, please take care to ensure that the data is correct.
    %p
      The
      %b
        Instrument Status
      field cannot be determined programmatically; please select the appropriate status for this Instrument.
