= render "/help/help_link"
%textarea{ :cols => "0", :rows => "0", :id => "help_text", :class => "help_text", :style => "display:none", :title => "Contact Links" }
  %p
    This page lists all of the contact link records in the application database.
  %p
    You can search for contact links by date, type of person contacted, person last name,
    comments, contact type or disposition, or event type or disposition.
    You can also sort the results by those fields as well.