= render "/help/help_link"
%textarea{ :cols => "0", :rows => "0", :id => "help_text", :class => "help_text", :style => "display:none", :title => "Select Instrument" }
  %p
    %b
      Instruments
    %br
    This section will list all of the appropriate instruments for the current event.
    Clicking on one of the instruments will launch the survey to administer. Please attempt to complete the entire instrument.
  %p
    %b
      Unscheduled Consents
    %br
    If a person has yet to consent to the protocol, obtain a consent in this section by clicking on the appropriate link.
  %p
    %b
      Non-Interview Report
    %br
    To edit the Contact record without administering an instrument, click the
    %em
      Create Non-Interview Report Link.