= render "/help/help_link"
%textarea{ :cols => "0", :rows => "0", :id => "help_text", :class => "help_text", :style => "display:none", :title => "Contact Links" }
  %p
    This page lists all of the event records in the application database.
  %p
    You can search for events by date, missing end date, those with a participant,
    event type, and disposition.
    You can also sort the results by those fields as well.