= render "/help/help_link"
%textarea{ :cols => "0", :rows => "0", :id => "help_text", :class => "help_text", :style => "display:none", :title => "Contact Links" }
  = render "/documentation/event"
  %p
    .help_header
      This page lists all of the event records in the application database.
    .help_instructions
      You can search for events by date, missing end date, those with a participant,
      event type, and disposition.
      You can also sort the results by those fields as well.
