= render "/help/help_link"
%textarea{ :cols => "0", :rows => "0", :id => "help_text", :class => "help_text", :style => "display:none", :title => "New Participant Consent" }
  = render "/documentation/participant_consent"

  %p
    .help_instructions
      Each Participant needs to Consent to some aspect of the Study.
      %br
      After you have chosen the type of consent to be obtained, read the consent text to the participant and
      mark the date, whether or not the consent has been given, and who consented.
      %p
        It is possible to withdraw consent at any time and at that point this record would need to be updated.
