= render "/help/help_link"
%textarea{ :cols => "0", :rows => "0", :id => "help_text", :class => "help_text", :style => "display:none", :title => "Participants" }
  %p
    This page lists all of the participants in the application database.
  %p
    You can search for participants by their first name, last name, unique public identifier, or ppg status.
    You can also sort the results by unique public identifier.
