= render "/help/help_link"
%textarea{ :cols => "0", :rows => "0", :id => "help_text", :class => "help_text", :style => "display:none", :title => "Person Record" }
  You will notice a series of tabbed pages.
  %p
    %b
      Events and Contacts
    %br
    Lists all the previous contacts made for the participant associated with this person.
    Here you will be able to view or edit the contact record.
  %p
    %b
      Survey Responses
    %br
    If this person answered questions for a survey, you will find a link to that survey here.
  %p
    %b
      Contact Information
    %br
      Addresses, Telephone Numbers, Email Addresses
  %p
    %b
      Relationships
    %br
    Lists all the relationships with other people in the application.
