= render "/help/help_link"
%textarea{ :cols => "0", :rows => "0", :id => "help_text", :class => "help_text", :style => "display:none", :title => "Person Record" }
  = render "/documentation/person"
  %p
    You will notice a series of tabbed pages.
    .help_header
      Events and Contacts
    .help_instructions
      Lists all the previous contacts made for the participant associated with this person.
      Here you will be able to view or edit the contact record.

    .help_header
      Survey Responses
    .help_instructions
      If this person answered questions for a survey, you will find a link to that survey here.

    .help_header
      Contact Information
    .help_instructions
      Addresses, Telephone Numbers, Email Addresses

    .help_header
      Relationships
    .help_instructions
      Lists all the relationships with other people in the application.
