= render "/help/help_link"
%textarea{ :cols => "0", :rows => "0", :id => "help_text", :class => "help_text", :style => "display:none", :title => "Case Status Report" }
  %p
    The case status report is used to monitor the flow of cases.
  %p
    Currently you can either search for an event scheduled within a given time frame or find all pending events.
    Either way you receive a spreadsheet with the same data items.
    %ul
      %li
        Participant ID
      %li
        First Name
      %li
        Last Name
      %li
        Next Event Date
      %li
        Event Name
      %li
        Last Contact Date
      %li
        Last Contact Start Time
      %li
        Last Contact End Time
      %li
        PPG Status
      %li
        Language
      %li
        Last Contact Disposition
      %li
        Phone Number
      %li
        Address One
      %li
        Address Two
      %li
        City
      %li
        State
      %li
        Zip
