= render "/help/help_link"
%textarea{ :cols => "0", :rows => "0", :id => "help_text", :class => "help_text", :style => "display:none", :title => "Administer Instrument" }
  %p
    Administer the survey. Please attempt to obtain an answer to every question.
  %p
    For answers that require a date or time, a calendar widget will appear when you focus on the text field for these types of questions.
  %p
    You will be asked to enter the date and time often. Please use the 'Now' button in the calendar widget when entering in the date and time.
  %p
    There are several questions dependent on answers for other questions.
    These dependent questions will be displayed after the respondent answers certain questions.
    Please be aware that questions will appear as you administer the survey.
    Also note that there might be text to read to the respondent in this sections based on their responses.
  %p
    After each section, navigate to the next section by clicking on the 'Next section' link in the bottom right of the page.
    Alternatively, you can navigate through the survey via the 'Sections' menu in the top right of the page.
  %p
    At the end of the survey (in the final section), the link in the bottom right will say 'Click here to finish'; use this link to exit the instrument.

