= render "/help/help_link"
%textarea{ :cols => "0", :rows => "0", :id => "help_text", :class => "help_text", :style => "display:none", :title => "Upcoming Activities" }
  %p
    On this page lists all the activities from PSC that have been scheduled for the shown
    date range that are still marked as 'scheduled'.