= render "/help/help_link"
%textarea{ :cols => "0", :rows => "0", :id => "help_text", :class => "help_text", :style => "display:none", :title => "Welcome Page" }
  %p
    On this page there are two tabs
  %p
    %b
      Scheduled Activities
    %p
      Here is a list of upcoming activities for participants in the section for the shown date range.
      Most likely from this page you would click the name of the Participant you would like to contact
      and view the next event to process.
  %p
    %b
      Actions
    %p
      This tab will show a menu of other actions you can take in NCS Navigator. Actions such as:
    %ul
      %li
        Reporting
      %li
        Searching
      %li
        Administering Instruments
