= render "/help/help_link"
%textarea{ :cols => "0", :rows => "0", :id => "help_text", :class => "help_text", :style => "display:none", :title => "Overdue Activities" }
  %p
    On this page lists all the activities from PSC that have been scheduled prior to today
    that are still marked as 'scheduled'.
    Ideally you would complete these records here or update their status in PSC.
