- page_title "New Provider"

.page_section
  = form_for(@provider, :html => {:autocomplete => "off"}) do |f|
    = render "shared/custom_error_messages", :object => f.object

    = render "/providers/form_fields", :f => f

    %p
      = f.submit "Submit", :disable_with => 'Submitting...'