- page_title "Provider Recruitment Decision"

%h3
  = @provider

.page_section
  %ul.recruitment
    %li
      = link_to "Is provider willing to participate?", recruited_provider_path(@provider), :class => "accepted_link icon_link"
    %li
      = link_to "Was the provider unavailable, were there issues, or did the provider refuse to participate?", new_provider_non_interview_provider_path(@provider, :contact_id => @contact.id), :class => "refused_link icon_link"
    %li
      = link_to "Back to PBS List", pbs_lists_path, :class => "list_link icon_link"
