- title "Provider Recruitment Decision"

%h3
  = @provider

.page_section
  %ul
    %li
      = link_to "Is provider willing to participate?", recruited_provider_path(@provider), :class => "accepted_link icon_link"
    %li
      Did the provider refuse?
      %br
      TODO: allow user to choose substitute provider
    %li
      = link_to "View Contact Log", contact_log_provider_path(@provider), :class => "list_link icon_link"
