.bundle
db/*.sqlite3
log/*.log
log/newrelic*
tmp/
*.tmproj
tmtags
coverage.data
coverage/
coverage/*
surveys/kitchen_sink_survey.rb
surveys/quiz.rb
app/coffeescripts/math.coffee
public/javascripts/Player.js
public/javascripts/Song.js
public/javascripts/compiled/math.js
spec/coffeescripts/math_spec.coffee
spec/javascripts/PlayerSpec.js
spec/javascripts/helpers/SpecHelper.js
spec/javascripts/math_spec.js
doc/survey_to_operational_data_maps/
doc/survey_to_operational_data_maps/*
doc/data/
doc/data/*
doc/notes/
doc/notes/*
surveys/
surveys/*
.sass-cache/
.sass-cache/*
public/assets
reports/*
importer_passthrough/*.xml
shared/importer_passthrough/*.xml
*.sw?
*.out
