# App temp/deployment-only files
.bundle
.sass-cache
db/*.sqlite3
db/backups
importer_passthrough
log
*.log
tmp
*.patch
*.tar
*.diff

# General temp files
.DS_Store
*.tmproj
tmtags
*.sw?
*.out
*.un~

# Generated assets
public/assets
public/maintenance.html

# Generated reports
reports
!app/models/reports
!spec/models/reports
!spec/integration/models/reports
coverage.data
coverage

# Private docs (?)
doc/survey_to_operational_data_maps
doc/data
doc/notes
doc/contact_event_workflow.pdf

# Surveys are in a separate project
surveys/*.rb
local_surveys
surveys/README.md

# Pow local configuration
.powenv*

# Redis dataset snapshots and transaction logs
dump.rdb
appendonly.aof

# Ignore mime-types dir
mime-types
