.page_section
  %b
    State Transitions
  - if @participant.low_intensity_state_transition_audits.size > 1
    %table.records
      %tr
        %th
          From
        %th
          To
        %th
          When
      - @participant.low_intensity_state_transition_audits.each do |t|
        - next if t.from.blank?
        %tr{ :class => cycle('even_record', 'odd_record') }
          %td
            = t.from.titleize
          %td
            = t.to.titleize
          %td
            = t.created_at.to_s(:db)