.page_section
  %b
    Instruments
  - if @person.response_sets.blank?
    %div
      No survey records exist at this time.
  - else
    - @person.response_sets.each do |rs|
      .survey
        = rs.created_at.to_s(:db)
        = link_to rs.survey.title, surveyor.view_my_survey_path(:survey_code => rs.survey.access_code, :response_set_code => rs.access_code), :class => "show_link icon_link"
        = link_to "Edit Instrument", edit_instrument_path(rs.instrument), :class => "edit_link icon_link"

    %p
      = link_to "Search for Responses", responses_for_person_path(@person), :class => "search_link icon_link"
