
.page_section
  %b
    Surveys Taken
  - if @person.response_sets.blank?
    %div
      No survey records exist at this time.
  - else
    - @person.response_sets.each do |rs|
      .survey
        = rs.created_at.to_s(:db)
        = link_to rs.survey.title, edit_my_survey_path(:survey_code => rs.survey.access_code, :response_set_code => rs.access_code), :class => "show_link icon_link"
