- title "Provider Information"

= render "/pbs_lists/provider_section"

= render "/pbs_lists/staff_section"

= render "/pbs_lists/contacts_section"

- if @provider.can_recruit?
  .recruit_button
    %span{ :class => "green_button" }
      = provider_recruitment_link(@pbs_list)

:javascript
  $(function () {
    var pbsListUI = new NCSCore.UI.PbsList({ successPath: 'provider_staff_member' });
  });