/* Link styles */

input[type="submit"] {
  font-size: 1.1em;
  margin-top: 0.5em;
}

.icon_link {
  font-size: 1.1em;
  padding: 2px 2px 2px 20px;
  text-decoration: none;
}

.sort_link {
  font-size: 1.1em;
  text-decoration: none;
}

.sort_link:hover, .icon_link:hover {
  color: orange !important;
  text-decoration: none;
}

.mdes_table_definition {
  text-align: right;
  margin: 0;
}

.mdes_documentation_link {
}

.add_link, .add_link:hover {
  background: url(../../assets/add.png) 0 2px no-repeat !important;
}

.edit_link, .edit_link:hover {
  background: url(../../assets/edit.png) 0 2px no-repeat !important;
}

.export_link, .export_link:hover {
  background: url(../../assets/page_white_excel.png) 0 2px no-repeat !important;
}

.search_link, .search_link:hover {
  background: url(../../assets/find.png) 0 2px no-repeat !important;
}

.show_link, .show_link:hover {
  background: url(../../assets/show.png) 0 2px no-repeat !important;
}

.list_link, .list_link:hover {
  background: url(../../assets/list.png) 0 2px no-repeat !important;
}

.delete_link, .delete_link:hover {
  background: url(../../assets/delete.png) 0 2px no-repeat !important;
}

.login_link, .login_link:hover {
  background: url(../../assets/door_in.png) 0 2px no-repeat !important;
}

.logout_link, .logout_link:hover {
  background: url(../../assets/door_out.png) 0 2px no-repeat !important;
}

.external_link, .external_link:hover {
  background: url(../../assets/external_link_icon.png) 0 2px no-repeat;
  background-position: right top;
  padding: 2px 20px 2px 0px !important;
}

.help_icon, .help_icon:hover {
  padding: 2px 2px 2px 20px;
  margin-left: 5px;
  background: url(../../assets/help.png) 0 2px no-repeat !important;
}

.notification_icon, .notification_icon:hover {
  padding: 2px 2px 2px 20px;
  margin-left: 5px;
  background: url(../../assets/exclamation.png) 0 2px no-repeat !important;
}