table.refusal_non_interview_reports {
  select {
    width: 20em;
  }
  input {
    width: 30em;
  }
}

table.dwelling_unit_type_non_interview_reports,
table.vacant_non_interview_reports,
table.no_access_non_interview_reports {
  width: 85%;
  select {
    width: 20em;
  }
  input {
    width: 30em;
  }
}
