.participant {
  @include rounded-corners(0.5em);
  border: 1px solid $BORDER_GRAY;
  padding: 0.5em;
  background-color: white;
  margin-bottom: 0.5em;
  .name {
    font-size: 1.25em;
  }
  .icon_link {
    font-size: 1em;
  }
  .edit_participant {
    float: right;
  }
  
  .schedule {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5em;
    .activity {
      padding-left: 0.5em;
    }
  }

}

.ppg_details {
  border: 1px solid $BORDER_GRAY;
  padding: 0.5em;
  margin: 0 1em 0.5em 0;  
}

.psc_error {
  color: crimson;
  margin: 0.5em;
}

#edit_person_link,
#edit_participant_link,
#create_person_link,
#create_participant_link {
  text-align: right;
  padding-right: 1em;
}

.switch_arm {
  float: right;
}