%tr{ :class => "dwelling_unit_type_non_interview_report fields row" }
  %td.select_col
    %span{ :class => "hide" }
      = render "shared/inline_ncs_code_select", { :f => f, :code => :psu_code, :label_text => "PSU", :default_value => @psu_code, :inline => true }
    = render "shared/inline_ncs_code_select", { :f => f, :code => :nir_dwelling_unit_type_code, :label_text => "Description", :other => :nir_dwelling_unit_type_other }
  %td.remove_col
    = link_to_remove_fields 'Remove', f, :dwelling_unit_type_non_interview_reports
