<%= form_for(@non_interview_report) do |f| %>
  <% if @non_interview_report.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@non_interview_report.errors.count, "error") %> prohibited this non_interview_report from being saved:</h2>

      <ul>
      <% @non_interview_report.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
