- if participant = @event.participant
  - consent = participant.low_intensity? ? ParticipantConsent.low_intensity_consent_type_code : ParticipantConsent.general_consent_type_code
  .consent_link
    = determine_participant_consent_path(consent.local_code, consent.to_s, participant, @contact_link)
    - if participant.consented?(NcsCode.for_attribute_name_and_local_code(:consent_type_code, consent.local_code))
      %span{ :class => "consented" }
        Participant has consented.

  = render "parental_permission_for_child_participation", :event => @event, :contact_link => @contact_link
