- initial_instrument_for_contact ||= nil

- if @contact_link.instrument.try(:instrument_type).to_s =~ /Pregnancy Screener/
  %p
    There is only one Instrument associated with the Pregnancy Screener Event
- elsif @event.postnatal? && !@event.participant.has_children?
  .important
    Child participation is required in order to continue.
  = render "parental_permission_for_child_participation", :event => @event, :contact_link => @contact_link
- else
  = render "activity_list", :initial_instrument_for_contact => initial_instrument_for_contact
