- initial_instrument_for_contact ||= nil

- if @contact_link.instrument.try(:instrument_type).to_s =~ /Pregnancy Screener/
  %p
    There is only one Instrument associated with the Pregnancy Screener Event
- elsif @event.postnatal? && !@event.participant.has_children?
  .important
    To ensure proper data associations a Child record is required in order to continue.
  - participant = @contact_link.event.participant
  = link_to "New Child", new_child_people_path(:participant_id => participant.id, :contact_link_id => @contact_link.id),
    :class => "add_link icon_link", :confirm => "Are you certain you would like to create a new child record?"
- elsif @event.participant.ineligible?
  - if @event.participant.withdrawn? && @event.informed_consent?
    = render "activity_list", :initial_instrument_for_contact => initial_instrument_for_contact
  - else
    %p
      Participant is ineligible. No further activities are necessary.
- else
  = render "activity_list", :initial_instrument_for_contact => initial_instrument_for_contact
