- person = contact_link.person
- nirs = non_interview_reports_for_activity(person, survey, contact_link)
- if nirs.blank?
  - cls = (@current_activity && (@current_activity == activity)) ? "star_link icon_link" : "asterisk_link icon_link"
  = link_to activity_link_name(activity),
    determine_consent_activity_path(person, activity, survey, contact_link),
    :class => cls
- else
  - nirs.each do |nir|
    - path = edit_person_non_interview_report_path(person, nir, { :contact_link_id => contact_link.id })
    = render "known_consent_instrument", :activity => activity, :survey => survey, :contact_link => contact_link, :path => path, :obj => nir
