- if survey = Survey.most_recent_for_access_code(Survey.to_normalized_string(activity.instrument))
  - if @saq_activity == activity
    %div{ :class => "instrument", :title => survey.title}
      = link_to @saq_activity.activity_name, saq_instrument_contact_link_path, :class => "star_link icon_link", :confirm => "#{@event.to_s} event is already closed. \nWould you like to record or add more information to SAQ for it?"
  - else
    %div{ :class => "instrument", :title => survey.title}
      = activity.activity_name
- else
  .unknown_instrument
    = activity.activity_name