- page_title "Edit Contact Link"

.instructions
  Remember to record the Contact and Event Dispositions.

%p
  - if @surveys.try(:first)
    = blank_safe(@person.to_s)
    - if @response_sets.all?(&:complete?)
      has completed
    - else
      has taken
    Instrument -
    = @survey.title

= render "form"
