- title "Finalize Instrument"

.instructions
  Remember to record the Contact and Event Dispositions.

%p
  - if @survey
    = blank_safe(@person.to_s)
    - if @response_set.complete?
      has completed
    - else
      has taken
    Instrument -
    = @survey.title

= render 'instruments_for_upcoming_events'

= render "form"
