%h3
  = @person
  
= render 'instruments_for_upcoming_events', :initial_instrument_for_contact => true
    
.close_consent
  %h3
    Contact Record
  = link_to "Close Contact", edit_contact_link_path(@contact_link.id, :close_contact => true), :class => "edit_link icon_link"