.ncs_logo

  = image_tag(NcsNavigatorCore.footer_left_logo_path) if NcsNavigatorCore.footer_left_logo_path

.contact_info

  = NcsNavigator.configuration.footer_center_html

.ncs_text
  = image_tag(NcsNavigatorCore.footer_right_logo_path) if NcsNavigatorCore.footer_right_logo_path

.app_version
  = app_version_helper
