.page_section
  .psc_registration
    %b
      Upcoming Activities

  = render "/people/schedule_or_perform_event", :participant => @participant, :person => @person

  .schedule
    - if @scheduled_activities && !@participant.pending_events.blank?
      %b
        Activities for Pending Events
      .activities
        - @scheduled_activities.each do |a|
          - if can_show_activity_link?(a)
            - @participant.pending_events.each do |e|
              - if e.matches_activity(a)
                .activity
                  %span{ :class => "scheduled_date" }
                    = a.date
                  %span{ :title => a.current_state, :class => "#{a.current_state}_link" }
                    &nbsp;
                  = link_to a.activity_name, psc_assignment_path(@participant.person.public_id), :class => "icon_link external_link"
    - else
      Subject does not have a schedule matching pending events
