%h3
  = display_person person

%p
  - if recruitment_strategy.two_tier_knowledgable?
    = participant.high_intensity? ? "High Intensity Participant" : "Low Intensity Participant"
    %b
      = "::"
  = participant.ppg_status
  - if participant.ppg_status.blank? && participant.eligible?
    %span.warning
      No PPG Assigned