- seen_activities = Array.new

.schedule
  - if subject_schedules = psc.schedules(participant)
    - subject_schedules["days"].keys.sort.each do |date|
      .day
        .date
          = date
        .activities
          - subject_schedules["days"][date]["activities"].each do |activity|
            - activity_name = activity["activity"]["name"]
            - unless seen_activities.include?([date, activity_name])
              - seen_activities << [date, activity_name]
              - state = activity["current_state"]["name"]
              .activity
                %span{ :title => state, :class => "#{state}_link" }
                  &nbsp;
                = link_to "#{activity_name}", psc_assignment_path(activity["assignment"]["id"]), :class => "icon_link external_link"
  - else
    Subject does not yet have a schedule