.schedule
  - if subject_schedules = PatientStudyCalendar.schedules(participant)
    - subject_schedules["days"].keys.each do |date|
      .day
        .date
          = date
        .activities
        - subject_schedules["days"][date]["activities"].each do |activity|
          .activity
            - study_segment = activity["study_segment"]
            = link_to "#{study_segment}", psc_assignment_path(activity["assignment"]["id"]), :class => "icon_link external_link"
  - else
    Subject does not yet have a schedule