- javascript "ui/participants"
- page_title "Participants"

%h3
  Participants in
  = @ppg_group

- if @participants.blank?
  No participants were found.
- else
  - @participants.each do |p|
    = render "participants/participant_row", :participant => p
