- label_text ||= "Disposition"
- html_attrs ||= { :class => "required important_field" }
%p
  = f.label code, label_text, :class => "important_field"
  %span{ :class => "notification_icon" }
  .notification_tooltip
    = t('mdes.disposition')
%p
  - if f.object.is_a? Event
    - disposition_code = f.object.event_disposition
  - elsif f.object.is_a? Contact
    - disposition_code = f.object.contact_disposition
  = f.select(code, grouped_disposition_codes(@disposition_group, f.object.send(code)), {}, html_attrs)
