#low_intensity_consent_script
  %h3
    Low Intensity Consent Script
  %p
    I’d like to tell you about the National Children’s Study—what you can expect if you join the Study and what your rights are if you do join. I may say things you’ve already heard, but I want to make sure that you’re fully informed before deciding if you want to join the Study.
  %p
    You can interrupt any time to ask questions.
  %p
    First, I’d like to tell you about the goal of the National Children’s Study. The goal is to improve the health of all children in the United States. With your help, the Study will help us learn more about how our physical, social, and family environments affect the health, growth, and development of our children.
  %p
    The National Children’s Study is led by the Eunice Kennedy Shriver National Institute of Child Health and Human Development (NICHD) of the National Institutes of Health. NICHD is working with other Federal government partners.
  %p
    The National Children’s Study has several stages. The first stage is called the Vanguard Study. The next stage is called the Main Study and it will include 100,000 across the United States. Different stages will run at the same time.
  %p
    We’re currently in the Vanguard Study Stage. In this stage, we will recruit 5,000 children and their families from 37 locations across the United States. Your neighborhood is one of many communities taking part in the Vanguard Study.
  %p
    The Vanguard Study will help us decide what questions and procedures will work best in the Main Study. We need the information from both the Vanguard Study and the Main Study to achieve the goals of the National Children’s Study.
  %p
    The National Children’s Study is an observational study. That means we’ll follow children from birth until they’re 21 years old. We’ll ask questions about you and your experiences, health, and surroundings, like your home and work. We need both pregnant women and women who aren’t pregnant to join the Study.
  %p
    If you join the Study now, we’ll ask you to complete questionnaires by mail or interviews by phone about three times a year. Each questionnaire or interview will take 30 to 60 minutes.
  %p
    We’ll also ask for information that will help us contact you.
  %p
    If you’re pregnant or become pregnant, we’ll also ask questions about your baby and your baby’s experiences. We might also ask you to join other Study activities, such as visits in your home by Study staff.
  %p
    We’ll store your information along with information from the other people in the Study indefinitely. Researchers will use this information to find out:
    %ul
      %li
        How the physical, social, and family environment may affect our children’s health.
      %li
        How conditions—like obesity, diabetes, and heart disease—that appear later in childhood and adulthood begin in early childhood.
      %li
        The right questions to ask people in the Study so that we can understand more about our environment and our health.
  %p
    By agreeing to be in the Study, you’re also agreeing to allow possible use of your information for future studies on child and maternal health and disease.
  %p
    We’ll protect the information you share with us. We’ll control who’s allowed to get information about you, especially your name, address, and other personal information. We’ll label other information you give us, such as answers to questions, with a number code. Researchers will use the number code, not your name, when they analyze your information.
  %p
    The National Children’s Study tracks researchers to make sure they’re keeping your information safe. Researchers who want to use your information have to go through several steps. They must agree to use your information only for research, and they won’t have access to your personal information.
  %p
    The Study can’t be forced to give your name or any information about you in any court. This is because the U.S. Department of Health and Human Services gave the National Children’s Study a legal document, called a Certificate of Confidentiality.
  %p
    We can only give out your information if we learn that you or someone else is harming you, your child, or others around you. We may be required by law to report this to the police or a social services agency in your community. If this happens, we still won’t reveal answers you gave us to the questions we asked for the Study.
  %p
    While we’re taking many steps to protect your information, there’s a chance your information could be disclosed. We’re always working on ways to improve how we protect your information.
  %p
    The risks of participating in this Study are low, since we’re only asking questions now. Some of the questions may be uncomfortable. But you can decide not to answer certain questions or skip any part of the Study.
  %p
    The National Children’s Study may help us learn things about health that could benefit all of us – including your children and grandchildren – in the years to come. However, joining the National Children’s Study may not help you right now.
  %p
    We know that being part of a study takes time and effort. We’ll give you about $25 in cash or gift cards to thank you each time you turn in a Study questionnaire. From time to time, we may also give you gifts like a tote bag, picture frame, or other small items to thank you. There’s no cost to you for being in the National Children’s Study.
  %p
    Of course, joining the Vanguard Study is your choice. If you do join, you can leave at any time for any reason. You also can leave the Study for a short time and come back.
  %p
    If you leave the Study, we won’t ask for any new information, but we will keep using the information you’ve already given us.
  %p
    If you join the National Children’s Study, we may invite you to take part in other research studies connected to the National Children’s Study. If you’re invited to be in other studies, you can always say no.
  %p
    Now that I’ve told you more about the National Children’s Study, do you have any questions?


#low_intensity_consent_yes.hide
  %p
    Thank you for agreeing to join the National Children’s Study Vanguard Study. Can we contact you through the phone numbers, email addresses, and home addresses you’ve provided us?
  %p
    We’ll send you an information sheet explaining what we talked about today and giving more details about the Study. Please call the study center at <STUDY CENTER PHONE NUMBER> if you don’t get it.
  %p
    Within the next week or so, we’ll invite you’ll to answer some questions for the Study.
  %p
    Thank you for joining the National Children’s Study.

#low_intensity_consent_no.hide
  %p
    Thank you for taking the time to learn about the National Children’s Study. If you change your mind, please call the study center at &lt;STUDY CENTER PHONE NUMBER&gt;.