- page_title "New Contact"

%h3
  = @person
  = "::" unless @person.to_s.blank?
  = @event.to_s
- if @requires_consent
  %p
    %span.warning
      Consent required

- if @event
  = render "contacts/form_with_event", :person => @person, :contact => @contact, :event => @event
- else
  =render "contacts/form_without_event", :person => @person, :contact => @contact
