%p
  .mdes_header
    MDES Definition for Address
  .mdes_definition
    A Dwelling Unit will have exactly one Address. A Person, an Institution and a Provider will have at least one and sometimes many Addresses.