%a{:href => "#", :class => "mdes_documentation_link show_link icon_link"}
  View MDES Definition for Address
%textarea{ :cols => "0", :rows => "0", :id => "mdes_definition", :class => "mdes_definition", :style => "display:none", :title => "Address" }
  A Dwelling Unit will have exactly one Address. A Person, an Institution and a Provider will have at least one and sometimes many Addresses.