%a{:href => "#", :class => "mdes_documentation_link show_link icon_link"}
  View MDES Definition for Contact Link
%textarea{ :cols => "0", :rows => "0", :id => "mdes_definition", :class => "mdes_definition", :style => "display:none", :title => "Contact Link" }
  Each Contact Link record associates a unique combination of Staff Member, Person, Event, and/or Instrument that occurs during a Contact. 
  There should be at least 1 contact link record for every contact.