%p
  .mdes_header
    MDES Definition of Contact Link
  .mdes_definition
    Each Contact Link record associates a unique combination of Staff Member, Person,
    Event, and/or Instrument that occurs during a Contact. 
    There should be at least one (1) contact link record for every contact.