%a{:href => "#", :class => "mdes_documentation_link show_link icon_link"}
  View MDES Definition for Contact
%textarea{ :cols => "0", :rows => "0", :id => "mdes_definition", :class => "mdes_definition", :style => "display:none", :title => "Contact" }
  Staff makes Contact with a Person pursuant to a protocol – either one of the recruitment schemas or a Study assessment protocol. 
  The scope of a Contact may include one or more Events, one or more Instruments in an Event and one or more Specimens that some Instruments collect.
