%p
  .mdes_header
    MDES Definition of Contact
  .mdes_definition
    Staff makes Contact with a Person pursuant to a protocol – either one of the recruitment schemas or a Study assessment protocol.
    The scope of a Contact may include one or more Events, one or more Instruments in an Event and
    one or more Specimens that some Instruments collect.
