%a{:href => "#", :class => "mdes_documentation_link show_link icon_link"}
  View MDES Definition for Dwelling Unit
%textarea{ :cols => "0", :rows => "0", :id => "mdes_definition", :class => "mdes_definition", :style => "display:none", :title => "Dwelling Unit" }
  DU is a specific street address within a sampling unit.  There is a one-to-one relationship between Listing and DU. This is not a
  mandatory one-to-one relationship because some DUs may not appear in the Listing and vice versa.
