%p
  .mdes_header
    MDES Definition for Dwelling Unit
  .mdes_definition
    DU is a specific street address within a sampling unit.
    There is a one-to-one relationship between Listing and DU.
    This is not a mandatory one-to-one relationship because some DUs may not
    appear in the Listing and vice versa.
