%p
  .mdes_header
    MDES Definition for Event
  .mdes_definition
    An Event is a set of one or more scheduled or unscheduled, partially executed or
    completely executed data collection activities with a single subject.
    The subject may be a Household or a Participant. All activities in an Event have the same subject.