%a{:href => "#", :class => "mdes_documentation_link show_link icon_link"}
  View MDES Definition for Event
%textarea{ :cols => "0", :rows => "0", :id => "mdes_definition", :class => "mdes_definition", :style => "display:none", :title => "Event" }
  An Event is a set of one or more scheduled or unscheduled, partially executed or completely executed data collection activities with a single subject.
  The subject may be a Household or a Participant. All activities in an Event have the same subject.
