%a{:href => "#", :class => "mdes_documentation_link show_link icon_link"}
  View MDES Definition for Household Unit
%textarea{ :cols => "0", :rows => "0", :id => "mdes_definition", :class => "mdes_definition", :style => "display:none", :title => "Household Unit" }
  The definition of a household is really based on the individual person's definition of a family. 
  The common definition is residence at the same address; however, the composition of the household might be parent/child; siblings; 
  roommates, or other combinations of relationships. SCs will initially assign a household an ID (HH_ID) during the recruitment process, 
  once a family/household residing at a DU is identified. HH_IDs follow families as they move outside of the original DU. (Several scenarios 
  are described in the Dwelling Unit Household Linkage Transmission Table.) Children may be associated with multiple HHs, 
  including HHs where non-residential fathers, other family members or informants who provide information may live. (Several Scenarios are 
  described in the Household Person Linkage Table.)