%a{:href => "#", :class => "mdes_documentation_link show_link icon_link"}
  View MDES Definition for Instrument
%textarea{ :cols => "0", :rows => "0", :id => "mdes_definition", :class => "mdes_definition", :style => "display:none", :title => "Instrument" }
  An Instrument is a scheduled, partially executed or completely executed questionnaire or paper form. 
  An Instrument can also be an Electronic Health Record or a Personal Health Record.