%p
  .mdes_header
    MDES Definition for Institution
  .mdes_definition
    An Institution is a specific hospital, provider practice group, day care, school, etc.
    Institutions are relevant in all Recruitment Schema.
    Persons may be recruited to participate in the study during the course of contact with
    Institution or may complete Study Events at that Institution.
