%a{:href => "#", :class => "mdes_documentation_link show_link icon_link"}
  View MDES Definition for Institution
%textarea{ :cols => "0", :rows => "0", :id => "mdes_definition", :class => "mdes_definition", :style => "display:none", :title => "Institution" }
  An Institution is a specific hospital, provider practice group, day care, school, etc. Institutions are relevant in all Recruitment Schema. Persons may be recruited to participate in the study during the course of contact with Institution or may complete Study Events at that Institution.
