%p
  .mdes_header
    MDES Definition for Instrument
  .mdes_definition
    An Instrument is a scheduled, partially executed or completely executed questionnaire or paper form.
    An Instrument can also be an Electronic Health Record or a Personal Health Record.
