%a{:href => "#", :class => "mdes_documentation_link show_link icon_link"}
  View MDES Definition for Non-Interview Report
%textarea{ :cols => "0", :rows => "0", :id => "mdes_definition", :class => "mdes_definition", :style => "display:none", :title => "Non-Interview Report" }
  Not all Contacts will result in a completed Event. When this occurs the Contact gets the appropriate disposition code and a Non-Interview Report is
  created to provide additional details. The Non-Interview Report records the circumstances surrounding a failed Contact.
