%a{:href => "#", :class => "mdes_documentation_link show_link icon_link"}
  View MDES Definition for Non-Interview Response Provider
%textarea{ :cols => "0", :rows => "0", :id => "mdes_definition", :class => "mdes_definition", :style => "display:none", :title => "Non-Interview Response Provider" }
  Not all Providers will be able to be successfully recruited.  In the event that a provider cannot be recruited, the appropriate event
  disposition (refer to Event Category 7) should be used in the EVENT and CONTACT records.  Additionally, SCs should document the reasons
  for the refusal in the Non-Interview Response Provider table.
