%p
  .mdes_header
    MDES Definition for Non-Interview Report
  .mdes_definition
    Not all Contacts will result in a completed Event. When this occurs the Contact gets the appropriate disposition code and a Non-Interview Report is
    created to provide additional details. The Non-Interview Report records the circumstances surrounding a failed Contact.
