%p
  .mdes_header
    MDES Definition for Non-Interview Response Provider
  .mdes_definition
    Not all Providers will be able to be successfully recruited.  In the event that a provider cannot be recruited, the appropriate event
    disposition (refer to Event Category 7) should be used in the EVENT and CONTACT records.  Additionally, SCs should document the reasons
    for the refusal in the Non-Interview Response Provider table.
