%p
  .mdes_header
    MDES Definition for Participant
  .mdes_definition
    A Participant is a living Person who has provided Study data about her/himself or a NCS Child.
    S/he may have been administered a variety of questionnaires or assessments, including household enumeration,
    pregnancy screener, pregnancy questionnaire, etc. Once born, NCS-eligible babies are assigned Participant IDs.
    Every Participant is also a Person.
