%a{:href => "#", :class => "mdes_documentation_link show_link icon_link"}
  View MDES Definition for PBS List
%textarea{ :cols => "0", :rows => "0", :id => "mdes_definition", :class => "mdes_definition", :style => "display:none", :title => "PBS List" }
  The PBS List table details the list of Practice Locations selected for recruitment by the NCS Statistical Contractor as well as information of substitute or replacement providers. 
  In addition, it contains information on the recruitment status of each selected provider.