%a{:href => "#", :class => "mdes_documentation_link show_link icon_link"}
  View MDES Definition for Person
%textarea{ :cols => "0", :rows => "0", :id => "mdes_definition", :class => "mdes_definition", :style => "display:none", :title => "Person" }
  A Person is an individual who may provide information on a participant.
  All individuals contacted are Persons, including those who may also be Participants.
