%p
  .mdes_header
    MDES Definition for Person
  .mdes_definition
    A Person is an individual who may provide information on a participant.
    All individuals contacted are Persons, including those who may also be Participants.
