%p
  .mdes_header
    MDES Definition for Provider
  .mdes_definition
    A Provider is a specific health care provider. Providers are relevant to all recruitment schemas but may be of most
    importance to the provider-based recruitment and provider-based sampling recruitment schemas. Persons may be recruited
    to participate in the study during the course of contact with Provider.