%a{:href => "#", :class => "mdes_documentation_link show_link icon_link"}
  View MDES Definition for Provider
%textarea{ :cols => "0", :rows => "0", :id => "mdes_definition", :class => "mdes_definition", :style => "display:none", :title => "Provider" }
  A Provider is a specific health care provider. Providers are relevant to all recruitment schemas but may be of most
  importance to the provider-based recruitment and provider-based sampling recruitment schemas. Persons may be recruited
  to participate in the study during the course of contact with Provider.