- page_title "New Address"

.page_section
  = form_for(@address, :html => {:autocomplete => "off"}) do |f|
    = render "shared/custom_error_messages", :object => f.object

    = render "/addresses/form_fields", :f => f

    %p
      = f.submit "Submit", :disable_with => 'Submitting...'
