body {
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px;
  background-color: $base_bg !important;
}

dt {
  font-weight: bold;
}

.developer_note {
  font-size: 0.7em;
  font-style: italic;
  color: $NOTE_GRAY;
}

.instructional_note {
  font-size: 0.8em;
  /* font-style: italic; */
  color: $NOTE_GRAY;
  margin: 0 0 0.5em 1em;
}

span.status_note {
  font-size: 0.8em;
  color: $NOTE_GRAY;
}

span.normal {
  font-size: 14px;
}

a {
  color: #0000FF;
  img {
    border: none;
  }
}

ul {
  list-style-type: none;
}

select[disabled=''],
input[disabled=''],
select[disabled='disabled'],
input[disabled='disabled'] {
  background-color: #ddd;
}

.page_section {
  border: 1px solid #ccc;
  margin-bottom: 0.25em;
  padding: 0.75em 0.5em 0.5em 0.5em;
  background-color: whitesmoke;
  @include rounded-corners(.5em);
  fieldset {
    @include rounded-corners(.5em);
    border: 1px solid #ddd;
    margin: 0 0 0.5em 0;
    padding: 0.75em;
    legend {
      font-weight: normal;
    }
  }
}

.flash_message {
  padding: 0.25em 0;
  text-align: center;
  @include rounded-corners(.5em);
  @include column($blueprint-grid-columns);
}

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6;
}

#flash_warning,
#flash_error {
  background-color: #FCC;
  border: solid 1px #C66;
}

.clear {
  clear: both;
}

.required_marker {
  color: maroon;
  padding: 0 0.5em;
}

span.warning,
span.required {
  font-weight: bold;
  color: maroon;
}

.important,
label.important_field {
  color: maroon;
}

select.error,
input.error {
  padding: 5px;
}
label.error {
  font-weight: normal;
  padding: 5px;
}

.error_dialog {
  text-align: center;
  h1 {
    color: maroon;
    font-size: 1.5em;
  }
}

select.important_field,
input.important_field {
  border: 2px solid maroon;
}

.fieldWithErrors,
.field_with_errors {
  display: inline;
  color: maroon;
  input {
    border: 2px solid maroon;
  }
}

#mdes_definition {
  display: none;
}

#errorExplanation {
  width: 400px;
  border: 2px solid maroon;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  @include rounded-corners(.5em);
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: 0px;
    background-color: maroon;
    color: #fff;
  }
  p {
    color: #333;
    margin-bottom: 0;
    padding: 8px;
  }
  ul {
    margin: 2px 24px;
    li {
      font-size: 12px;
      list-style: disc;
    }
  }
}
form {
  select {
    border-color: #bbb;
  }
  input[type="text"].date,
  input[type="text"].datepicker {
    width: 7.5em;
  }

  input[type="text"].time,
  input[type="text"].timepicker {
    width: 3em;
  }
  input[type="text"].zip,
  input[type="text"].zip4 {
    width: 5em;
  }
  .nested_attributes {
    margin: 1em;
  }
  textarea {
    height: 200px;
    width: 325px;
  }
  label {
    font-weight: normal;
  }
}

#container,
.container {
  @include rounded-corners(.75em);
  border: 2px solid $BORDER_GRAY;
  background-color: white;
  padding: 1em 1.5em;
  margin: 1em auto;
  p {
    margin-bottom: .25em;
  }

  form {
    margin-bottom: 1em;
  }
}

#header {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
  @include span(24);
  @include container;

  #app_name {
    a {
      text-decoration: none;
    }
  }
}

#login,
#logout {
  text-align: right;
  @include column(19, true); /* true that this is the last column */
}

#main {
  padding-bottom: 4em;
}

.blue_button {
  @include colored_button;

  background-color:#cdc9c9;
	border:1px solid #696969;
	font-size: 0.8em;
	padding: 4px;
  margin: 0 0.5em;
	height: 1em;

  a {
    color: #696969;
    text-decoration: none;
  }
}

.green_button {
  @include colored_button;

  background-color:#66FF66;
  border:1px solid #339933;
  font-size: 0.9em;
  padding: 2px;
  height: .8em;

  a {
    color: #339933;
    text-decoration: none;
  }
}

.red_button {
  @include colored_button;
  background-color: lightpink;
  border: 1px solid crimson;
  font-size: 0.8em;
  padding: 4px;

  a {
    color: crimson;
    text-decoration: none;
  }

  a:hover {
    color: blue !important;
  }
}

.hidden {
  display: none;
}

.mdes_header,
.help_header {
  text-decoration: underline;
}

.mdes_definition,
.help_instructions {
  margin: 0.25em;
}
