#appointment-sheet-header {
  margin-left: 15em;
}

#event-date-and-time {
  font-size: 110%;
  font-weight: 600;
  margin-top: 1em;
}

#address {
  margin-top: 1em;
}

#phone {
  margin-top: 1em;
}

#instrument-list {
  margin-left: 5em;
  font-size: 130%;
}

#language {
  margin-top: 1em;
}

#consents {
  margin-left: 1em;
}

#children {
  margin-top: 1em;
}

#sex {
  margin-top: 0.5em;
}

#next-event {
  margin-top: 1em;
  margin-left: 3em;
  font-size: 130%;
}

#to-be-conducted{
  font-size: 110%;
  font-weight: bold;
}

#appointment-sheet {
  font-size: 120%;
}

#visit-info {
  width: 100%;
  float: left;
}

#event-info {
  float: left;
  margin-left: 2em;
}

#participant-info {
  float: right;
  margin-right: 15em;
}

.not-found {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-style: italic;
  font-weight:normal;
}

.name {
  font-size: 110%;
  font-weight: bold;
}

