// Here is where you can define your constants for your application and to configure the blueprint framework.
// Feel free to delete these if you want keep the defaults:

$blueprint-grid-columns   : 24;
$blueprint-container-size : 1160px;
$blueprint-grid-margin    : 10px;
$blueprint-font-family    : Arial,Helvetica,sans-serif;

// Use this to calculate the width based on the total width.
// Or you can set !blueprint_grid_width to a fixed value and unset !blueprint_container_size -- it will be calculated for you.
$blueprint-grid-width : ($blueprint-container-size + $blueprint-grid-margin) / $blueprint-grid-columns - $blueprint-grid-margin;

//Colors
$NU_PURPLE         : #520063;
$SLATE_GRAY        : #353737;
$LIGHT_GRAY        : #e2e2e2;
$NOTE_GRAY         : #999;
$BORDER_GRAY       : #ccc;
$ORANGE            : #b66e19;
$SHADOW            : #262626;
$PAGE_HEADER_COLOR : #007c8b;

@mixin rounded-corners($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
}

@mixin colored_button {
  -webkit-box-shadow: rgba(0,0,0,0.1) 0 1px 0 0;
  -moz-box-shadow: rgba(0,0,0,0.1) 0 1px 0 0;
  box-shadow: rgba(0,0,0,0.1) 0 1px 0 0;
  font-weight: 700;
  font-family: 'Lucida Grande',Tahoma,Verdana,Arial,sans-serif;
  color: #fff;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
}

@mixin shadowbox {
  box-shadow: 0px 0px 40px $SHADOW;
  -webkit-box-shadow: 0px 0px 40px $SHADOW;
  -moz-box-shadow: 0px 0px 40px $SHADOW;
}

@mixin listed-attributes {
  margin-top: 1em;
}

//NCS custom colors
$tab_nav_bg: #406CD5;
$tab_nav_border: #406CD5;
$tab_nav_current_bg: #f0f0f0;
$tab_nav_txt: #f0f0f0;
$tab_nav_current_txt: #333;
$header_bg: #CCD3E8;
$base_bg: #CCD3E8;
$content_bg: transparent;
$footer_bg: transparent;
$current_form_bg: $tab_nav_current_bg - 16;
$form_table_bg: $tab_nav_current_bg - 8;

$tab_vertical_bg: #9672FF;
$tab_vertical_border: #9672FF;
$tab_vertical_current_bg: #f0f0f0;
$tab_vertical_txt: #f0f0f0;
$tab_vertical_current_txt: #333;


// iOS defaults
$ios_container_size: 900px;
