.contact_link_section {
  h3 {
    line-height: 1.25em;
    margin-bottom: 0.2em;
    border-bottom: 1px solid $BORDER_GRAY;
  }
  p {
    padding: 0 1em;
  }
}

#event_end_date_fields {
  display: none;
}

.close_consent {
  h3 {
    margin-top: 0.5em;
  }
}
