.contact_link_section {
  h3 {
    line-height: 1.25em;
    margin-bottom: 0.2em;
    border-bottom: 1px solid $BORDER_GRAY;
  }
  p {
    padding: 0 1em;
  }
}

#event_end_date_fields {
  display: none;
}

.activity_list_for_event {

  .manage_children {
    border-top: 1px solid $BORDER_GRAY;
    margin: 0.5em 0;
    padding: 0.5em 0;
    border-bottom: 1px solid $BORDER_GRAY;
  }

  .activity_link,
  .consent_link,
  .other_activity {
    @include rounded-corners(.5em);
    border: 1px solid whitesmoke;
  }

  .instrument_response_set {
    margin-left: 2em;
  }

  .activity_link:hover,
  .consent_link:hover,
  .other_activity:hover {
    @include rounded-corners(.5em);
    border: 1px solid $BORDER_GRAY;
  }

  .child_participation {
    display: inline-block;
    .child {
      margin-left: 2em;
    }
  }

  .child_participation,
  .consent_link,
  .known_instrument,
  .instrument {
    a {
      display: inline-block;
    }
  }

  .other_activity {
    span.activity_name {
      display: inline-block;
      width: 29.75em;
      padding: 2px 2px 2px 20px;
    }
  }

  .activity_psc_action {
    display: inline-block;
    input[type="submit"] {
      font-size: 0.8em;
    }
    form {
      margin-bottom: 0 !important; // overriding .containter form
    }
  }
}
