.contact_link_section {
  h3 {
    line-height: 1.25em;
    margin-bottom: 0.2em;
    border-bottom: 1px solid $BORDER_GRAY;
  }
  p {
    padding: 0 1em;
  }
}

#event_end_date_fields {
  display: none;
}

.close_consent {
  h3 {
    margin-top: 0.5em;
  }
}
.activity_list_for_event {

  .child_participation,
  .consent_link,
  .instrument {
    a {
      display: inline-block;
      width: 20em;
    }
  }

  .known_instrument,
  .unknown_instrument {
    span.activity_name {
      display: inline-block;
      width: 22em;
      padding: 2px 2px 2px 20px;
    }
  }

  .activity_psc_action {
    display: inline-block;
    input[type="submit"] {
      font-size: 0.8em;
    }
    form {
      margin-bottom: 0 !important; // overriding .containter form
    }
  }
}
