/* Link styles */
a {
  text-decoration: none;
}

input[type="submit"] {
  font-size: 1.1em;
  margin-top: 0.5em;
}

.header_link {
  text-decoration: none;
}

.toggle_link {
  text-decoration: none;
  cursor: pointer;
}

.edit_staff_modal_form_link {
  text-decoration: none;
}

.icon_link {
  font-size: 1.1em;
  padding: 2px 2px 2px 20px;
  text-decoration: none;
}

.faq_link {
  font-size: 1.1em;
  padding: 0px;
  text-decoration: none;
}

.sort_link {
  font-size: 1.1em;
  text-decoration: none;
}

a.sort_link:hover, a.icon_link:hover {
  color: orange !important;
  text-decoration: none;
}

.help_text_link {
  margin: 0;
  float: right;
  width: 3.5em;
}
.mdes_table_definition {
  text-align: right;
  margin: 0;
}

.new_link, .new_link:hover,
.add_link, .add_link:hover {
  background: url(../../assets/add.png) 0 2px no-repeat;
  font-weight: normal;
}

.edit_link, .edit_link:hover {
  background: url(../../assets/edit.png) 0 2px no-repeat;
}

.edit_survey_link, .edit_survey_link:hover {
  background: url(../../assets/script_edit.png) 0 2px no-repeat;
}

.import_link, .import_link:hover,
.export_link, .export_link:hover {
  background: url(../../assets/page_white_excel.png) 0 2px no-repeat !important;
}

.hospital_link, .hospital_link:hover {
  background: url(../../assets/hospital-small.png) 0 2px no-repeat !important;
  background-size: 20px 20px;
}

.search_link, .search_link:hover {
  background: url(../../assets/find.png) 0 2px no-repeat !important;
}

.show_link, .show_link:hover {
  background: url(../../assets/show.png) 0 2px no-repeat !important;
}

.list_link, .list_link:hover {
  background: url(../../assets/list.png) 0 2px no-repeat !important;
}

.search_link, .search_link:hover {
  background: url(../../assets/find.png) 0 2px no-repeat !important;
}

.report_link, .report_link:hover {
  background: url(../../assets/chart_bar.png) 0 2px no-repeat !important;
}

.close_link, .close_link:hover,
.delete_link, .delete_link:hover {
  background: url(../../assets/delete.png) 0 2px no-repeat !important;
}

.continue_link, .continue_link:hover {
  background: url(../../assets/arrow_right.png) 0 2px no-repeat !important;
  padding-right: 10px;
}

.login_link, .login_link:hover {
  background: url(../../assets/door_in.png) 0 2px no-repeat !important;
}

.logout_link, .logout_link:hover {
  background: url(../../assets/door_out.png) 0 2px no-repeat !important;
}

.toggle_show_link, .toggle_show_link:hover {
  background: url(../../assets/bullet_arrow_up.png) 0 2px no-repeat !important;
}

.toggle_hide_link, .toggle_hide_link:hover {
  background: url(../../assets/bullet_arrow_down.png) 0 2px no-repeat !important;
}

.fix_link, .fix_link:hover {
  background: url(../../assets/wrench_orange.png) 0 2px no-repeat !important;
  padding-right: 10px;
}

.toggle_enable_link, .toggle_enable_link:hover {
  background: url(../../assets/wrench_orange.png) 0 2px no-repeat !important;
  padding-right: 10px;
  font-size: 0.8em;
  margin-left: 0.25em;
}

.toggle_disable_link, .toggle_disable_link:hover {
  background: url(../../assets/cancel.png) 0 2px no-repeat !important;
  padding-right: 10px;
  display: none;
  font-size: 0.8em;
  margin-left: 0.25em;
}

.back_link, .back_link:hover {
  background: url(../../assets/arrow_left.png) 0 2px no-repeat !important;
  padding-right: 10px;
}

.scheduled_link, .scheduled_link:hover {
  background: url(../../assets/clock.png) 0 2px no-repeat !important;
  padding-right: 10px;
}

.conditional_link, .conditional_link:hover {
  background: url(../../assets/help.png) 0 2px no-repeat !important;
  padding-right: 10px;
}

.version_link, .version_link:hover,
.reschedule_link, .reschedule_link:hover {
  background: url(../../assets/clock_red.png) 0 2px no-repeat !important;
  padding-right: 10px;
}

.out_of_window_link, .out_of_window_link:hover {
  background: url(../../assets/date_error.png) 0 2px no-repeat !important;
}

.accepted_link, .accepted_link:hover,
.occurred_link, .occurred_link:hover {
  background: url(../../assets/accept.png) 0 2px no-repeat !important;
  padding-right: 10px;
}

.refused_link, .refused_link:hover,
.canceled_link, .canceled_link:hover {
  background: url(../../assets/cancel.png) 0 2px no-repeat !important;
  padding-right: 10px;
}

.external_link, .external_link:hover {
  background: url(../../assets/external_link_icon.png) 0 2px no-repeat;
  background-position: right top;
  padding: 2px 20px 2px 0px !important;
}

.star_link, .star_link:hover {
  background: url(../../assets/star.png) 0 2px no-repeat !important;
}

.asterisk_link, .asterisk_link:hover {
  background: url(../../assets/asterisk_yellow.png) 0 2px no-repeat !important;
}

.help_link_icon, .help_link_icon:hover,
.disposition_icon, .disposition_icon:hover,
.help_icon, .help_icon:hover {
  padding: 2px 2px 2px 20px;
  margin-left: 5px;
  background: url(../../assets/help.png) 0 2px no-repeat !important;
}

.warning_icon, .warning_icon:hover,
.notification_icon, .notification_icon:hover {
  padding: 2px 2px 2px 20px;
  margin-left: 5px;
  background: url(../../assets/exclamation.png) 0 2px no-repeat !important;
}
