.participant {
  @include rounded-corners(0.5em);
  border: 1px solid $BORDER_GRAY;
  padding: 0.5em;
  background-color: white;
  margin-bottom: 0.5em;
  .name {
    font-size: 1.25em;
  }
  .icon_link {
    font-size: 1em;
  }
  .edit_participant {
    float: right;
  }

  .schedule {
    border-bottom: 1px solid #ccc;
    padding-bottom: 0.5em;
    .activity {
      padding-left: 0.5em;
    }
  }

}

.participant_events {
  .event {
    @include rounded-corners(0.5em);
    border: 2px solid $BORDER_GRAY;
    margin-bottom: 0.75em;

    .no_event_contact_records {
      padding: 0.5em;
    }

    .header {
      padding: 0.25em;
    }
    .event_actions {
      float: right;
    }
  }
}

.ppg_details {
  border: 1px solid $BORDER_GRAY;
  padding: 0.5em;
  margin: 0 1em 0.5em 0;
}

.psc_error {
  color: crimson;
  margin: 0.5em;
}

#edit_person_link,
#edit_participant_link,
#create_person_link,
#create_participant_link {
  text-align: right;
  padding-right: 1em;
}

.event_actions {
  a {
    font-size: 0.9em;
  }
}

.switch_arm {
  float: right;
}

.schedule_informed_consent,
.schedule_next_event,
.pending_events {
  border-top: 1px solid $BORDER_GRAY;
  border-bottom: 1px solid $BORDER_GRAY;
  margin: 0.5em 0;
  padding: 0.5em 0;

  .pending_event {
    form {
      display: inline-block;
    }
  }
}

span.consented {
  color: darkgreen;
  font-size: 0.8em;
}

span.known_instrument {
  color: darkorange;
  font-style: italic;
}

#low_intensity_consent_no,
#low_intensity_consent_yes {
  @include rounded-corners(0.5em);
  border: 3px solid $BORDER_GRAY;
  padding: 0.5em;
}

#low_intensity_consent_script {
  margin-bottom: 2em;
}

.schedule {
  .activities {
    .activity {
      margin-left: 1em;
    }
  }
}

.contact_info {
  margin: 0 1em;
}

.telephones,
.emails,
.addresses {
  border-bottom: 1px solid $BORDER_GRAY;
  padding: 1em 0;
}

.participant_identifiers {
  border-bottom: 1px solid $BORDER_GRAY;
  padding: 1em 0;
  margin-bottom: 1em;
}

.participant_consent_samples {
  padding: 0.5em 2em;
  margin: 0.5em;
}

.relationships {
  .relation {
    margin: 0.5em;
    padding-bottom: 0.25em;
    border-bottom: 1px solid $BORDER_GRAY;
    .relation_type {
      font-weight: bold;
      margin-bottom: 0.125em;
    }
  }
}

.nested_records_ppg_status_histories {
  .ppg_status_history {
    label {
      font-size: 0.8em;
    }
    select {
      width: 15em;
    }
  }
}
