table.pbs_list {
  th {
    padding-left: 20px;
  }
}

.staff_member_radio_person {
  margin-bottom: 5px;
}

.staff_member_radio_person_name {
  display: inline-block;
  width: 12em;
}

.substitute_link {
  margin: 0.5em 0;
}