@import "partials/base";
@import "partials/appointment_sheet_print";

input.text,
input[type="text"] {
  border: none;
}

#header{
  display: none !important;
}

#footer{
  display: none !important;
}

#flash_notice{
  display: none !important;
}

#header{
  display: none !important;
}

div.processing,
div.editing,
input.submit, 
input[type="submit"],
input.button, 
input[type="button"] {
  display: none;
}

a {
  display: none;
}