#popup_dialog p {
  margin: 0 0 0;
  display: inline;
}

.display p {
  margin: 0 0 0;
  display: inline;
}

#edit_specimen_receipt_form, #edit_sample_receipt_form {
  margin-left: 2em;
  font-size: 12px;
  font-weight: normal;
  
  p {
    margin: 0 0 0;
    display: inline;
    font-size: 12px;
    font-weight: normal;
  }
}

.spec_sample_receipt {
  margin-left: 2em;
  font-size: 12px;
  font-weight: normal;
}

.sample_store_form_border {
  border: 1px solid lightgray;
  padding-left: 0.3em;
}

.print_manifest {
  font-size: 1.1em;
}

input.volume {
  width: 100px;
}

.ui-tabs-vertical {
  width: 55em; 
  
  .ui-tabs-nav { 
    padding: .2em .1em .2em .2em; 
    float: left; 
    width: 14.7em;
    
    li { 
      clear: left; 
      width: 100%; 
      border-bottom-width: 1px !important; 
      border-right-width: 0 !important; 
      margin: 0 -1px .2em 0; 
      
      a { 
        display:block; 
      }
    }
    
    li.ui-tabs-selected { 
      padding-bottom: 0; 
      padding-right: .1em; 
      border-right-width: 1px; 
      border-right-width: 1px; 
    } 
  }
  .ui-tabs-panel { 
    padding: 1em; 
    float: right; 
    width: 40em;
  }
}

.paragraph_shift {
  margin-left: 0.5em;
}

.records td {
  vertical-align: top;
}

.records ul {
  list-style-type: none;
}
