.front_page_section {
  margin: 0.5em 0;
  float: left;
  width: 100%;
  h3 {
    margin-bottom: 0;
  }
  h4 {
    margin-bottom: 0;
    margin-top: 0.5em;
  }
  .pbs,
  .participants,
  .reports,
  .events,
  .activities,
  .samples_specimens,
  .model_search {
    ul {
      li {
        list-style-type: none;
      }
    }
  }
}

.dialog {
  ul {
    li {
      list-style: none !important;
    }
  }
}

.events_for_date {
  margin-top: 0.5em;

  .event_participant {
    margin-left: 1em;

    span {
      display: inline-block;
    }

    span.activity_time {
      text-align: right;
      width: 5em;
    }

    span.participant_link {
      width: 15em;
    }

    span.ppg_status {
      width: 5em;
    }
  }

}
