/* Add custom styles here. They will be
 * loaded after the surveyor stylesheets */
/* line 4, sass/custom.sass */
#surveyor {
  font-family: "Century Gothic";
}

fieldset.choices {
  line-height: 1em;
  padding: 0;
}

input.add_row[type="submit"] {
  font-size: 1.5em;
}