// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.scss file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

// Generate the blueprint framework according to your configuration:
@include blueprint;

@include blueprint-scaffolding;

// Combine the partials into a single screen stylesheet.
@import "partials/application";
@import "partials/appointment_sheet";
@import "partials/surveyor";
@import "partials/links";
@import "partials/tabular_records";
@import "partials/layout";
@import "partials/ncs";
@import "partials/contact_links";
@import "partials/contacts";
@import "partials/dwelling_unit";
@import "partials/household_unit";
@import "partials/participants";
@import "partials/providers";
@import "partials/non_interview_reports";
@import "partials/welcome";
@import "partials/tooltip";
@import "partials/jquery_ui_overrides";
@import "partials/spec_collection";
@import "partials/pbs_lists";
@import "partials/ios";
@import "partials/reset_button";
