- page_title "Case Status Report"

.page_section
  %p
    Enter in the time period for the report and click 'Generate Report' to download the case status report file.
  %p
    = form_tag('/reports/case_status', :html => {:autocomplete => "off"}) do |f|
      %p
        %b
          From:
        %br
        = text_field_tag 'start_date', @start_date, :class => 'datepicker'
      %p
        %b
          To:
        %br
        = text_field_tag 'end_date', @end_date, :class => 'datepicker'
      %p
        = submit_tag 'Generate Report', :confirm => 'Are you in a secure environment in which you are allowed to download data?'
